@media only screen and (max-width:500) {
    body{
      font-size: 21px !important;
    }
}

@media only screen and (max-width:600px) {
    body{
      font-size: 18px !important;
    }
}

@media only screen and (max-width: 900px) {
    body{
        font-size: 14px !important;
    }
}