@media only screen and (max-width:992px) {
    .mlist a{
        font-size: 28px !important;
    }
    nav{
        height: 135px !important;
    }
    nav .brand-logo{
        margin-left: 15px;
        margin-top: 30px;
        font-size: 40px;
    }
    nav .button-collapse{
        margin-top: 20px;
        margin-left: 48px;
    }
    nav .button-collapse i{
        font-size: 50px;
    }
    .add-btn a{
        font-size:25px;
    }
    .add-btn a i{
        font-size: 30px;
    }
    .sort-btn {
        width: 350px !important;
        margin: 5px !important;
        height: 55px;
        font-size: 25px;
        padding-top: 10px;
    }
    .add-form .input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label{
        font-size: 25px !important;
    }

    .add-form i .input-field .prefix{
        font-size: 40px !important;
    }

    .add-form .select-wrapper input{
        font-size: 20px !important;
    }
    .meal-submit-btn a{
        font-size:25px;
    }
    .meal-submit-btn a i{
        font-size: 30px;
    }
}