@media only screen and (min-width:900px) {
    body{
      font-size: 21px !important;
    }
    .mlist a{
        font-size: 18px !important;
    }
    .homeheader h3{
        font-size: 26px;
    }
    .homeheader h5{
        font-size: 22px;
    }
}

@media only screen and (min-width:600px) and (max-width:899px) {
    body{
      font-size: 26px !important;
    }
    .mlist a{
        font-size: 26px !important;
    }
    .homeheader h3{
        font-size: 36px;
    }
    .homeheader h5{
        font-size: 32px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) {
    body{
        font-size: 34px !important;
    }
    .mlist a{
        font-size: 34px !important;
    }
    .homeheader h3{
        font-size: 46px;
    }
    .homeheader h5{
        font-size: 40px;
    }
    body .header .nav{
        height: 150px !important;
    }
}