html{
    font-size: 21px;
}

body{
    background-color: beige;
    
}

.hidden{
    display: none !important;
}

.tdnone{
    text-decoration: none;
    color: #ee6e73;
}

.quote{
    font-size: 20px;
    color: darkgrey;
    font-style: italic;
}

.sort-btn{
    width:250px !important;
    margin:5px !important;
}

.meal-btn{
    width: 180px !important;
    margin: 5px;
}

.faq-spacing{
    margin: 5px;
}

.add-btn{
    margin: 10px;
}

.menu-burger{
    font-size: 40px;
}