body{
    background-color: beige;
    
}

.hidden{
    display: none !important;
}

.tdnone{
    text-decoration: none;
    color: #ee6e73;
}

.quote{
    font-size: 20px;
    color: darkgrey;
    font-style: italic;
}

.sort-btn{
    width:250px !important;
}