{% extends 'main.html' %} 

{% block header %}
<div class="row card-panel center">
    <h3>About Us</h3>
</div>
{% endblock %}

{% block content %}

<div class="row card-panel hoverable">
    <h2 class="center col s12"><i class="material-icons">star</i>Our Mission<i class="material-icons">star</i></h2>
    <div class="col s12 desc">
    <h4 class="center">Here at Dan's Delicious Dishes, we want to inspire people to eat the meals that aren't always set on a menu. We want to inspire our community to be more creative and have fun with their meals and to share them on here.</h4>
    </div>
</div>

<div class="row card-panel hoverable">
    <h2 class="center col s12"><i class="material-icons">star</i>Our Vision<i class="material-icons">star</i></h2>
    <div class="col s12 desc">
    <h4 class="center">We aim to bring the food community to one spot, this website. We hope to see our community grow with us and provide meal after meal for their friends, family and strangers all around the world to see.</h4>
    </div>
</div>

<div class="row card-panel hoverable">
    <h2 class="center col s12"><i class="material-icons">star</i>Our Values<i class="material-icons">star</i></h2>
    <div class="col s12 desc">
    <ul class="collapsible">
        <li>
        <div class="collapsible-header">
        <h4 class="center"><strong>Customer Relationships</strong><i class="material-icons">add</i></h4>
        </div>
        <div class="collapsible-body">
        We value our customers like family
        </div>
        </li>
        <li>
        <div class="collapsible-header">
        <h4><strong>Creativity</strong><i class="material-icons">add</i></h4>
        </div>
        <div class="collapsible-body">
        We always try to inspire creativity
        </div>
        </li>
        <li>
        <div class="collapsible-header">
        <h4><strong>Innovation</strong><i class="material-icons">add</i></h4>
        </div>
        <div class="collapsible-body">We strive to move our company forward through our meals
        </div>
        <li>
        <div class="collapsible-header">
        <h4><strong>Create Opportunities</strong><i class="material-icons">add</i></h4>
        </div>
        <div class="collapsible-body">
        We give everyone a chance to create a meal and to get themselves known
        </div>
        <li>
        <div class="collapsible-header">
        <h4><strong>We do what we say</strong><i class="material-icons">add</i></h4>
        </div>
        <div class="collapsible-body">
        If we are going to make a promise, we will stick to that promise no matter the cost
        </div>
        </li>
    </ul>
    </div>
</div>

<div id="dan" class="row card-panel hoverable">
    <h2 class="center col s12">Meet the Chef</h2>
    <div class="col s4 image center">
    <img src="{{url_for('static', filename='/images/gr.jpg')}}" alt="The Chef Dan Ramsey">
    </div>
    <div class="col s8 desc">
        <h5>Dan is a British chef, restaurateur, writer and television personality.
        <br><br>His restaurants have been awarded 16 Michelin stars in total and currently hold a total of seven. His signature restaurant, Restaurant Dan in Chelsea, London, has held three Michelin stars since 2001. After rising to fame on the British television miniseries Boiling Point in 1998
        <br><br>Dan had become one of the best-known and most influential chefs in the UK by 2004
        </h5>
        <p class="quote">"Nothing beats a good maccies" - Dan</p>
    </div>
</div>
{% endblock %}