{% extends 'main.html' %} 

{% block header %}
<div class="row card-panel center">
    <h3>Add a Meal</h3>
</div>
{% endblock %}

{% block content %}

<div class="row card-panel">
    <form action="{{ url_for('insert_meal') }}" method="POST" class="col s12">
      <div class="row add-form">
        <div class="input-field col s3">
          <i class="material-icons prefix">menu_book</i>
          <input id="meal_name" name="meal_name" type="text" class="validate" required>
          <label for="meal_name">Meal Name</label>
        </div>
        <div class="col s3 " style="margin-top: 14px;">
            <select id="b-d" name="category_name" id="category_name">
            <option value=" " disabled selected>Choose Category</option>
            {% for cat in categories %}
                <option value="{{cat.category_name}}">{{cat.category_name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">fireplace</i>
          <input id="meal_temp" name="meal_temp" type="text" class="validate" required>
          <label for="meal_temp">Hot or Cold</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">watch_later</i>
          <input id="meal_time" name="meal_time" type="text" class="validate" required>
          <label for="meal_time">Time Needed</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">rate_review</i>
          <textarea id="meal_description" name="meal_description" type="text" class="validate materialize-textarea"\ required></textarea>
          <label for="meal_description">Meal Description</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">local_pizza</i>
          <textarea id="meal_ingredients" name="meal_ingredients" type="text" class="validate materialize-textarea"\ required></textarea>
          <label for="meal_ingredients">Meal Ingredients</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">info</i>
          <textarea id="meal_instructions" name="meal_instructions" type="text" class="validate materialize-textarea"\ required></textarea>
          <label for="meal_instructions">Meal Instructions</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">contact_support</i>
          <textarea id="meal_tips" name="meal_tips" type="text" class="validate materialize-textarea"\></textarea>
          <label for="meal_tips">Meal Tips</label>
        </div>
      </div>
        <div class="row meal-submit-btn">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Meal
            <i class="material-icons right">thumb_up</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}