{% extends 'main.html' %}
{% block content %}

<div class="delete-div">
      <div class="card-panel">
      <strong><h3 class="center">Are you sure you want to delete {{meal.meal_name}}?</h3></strong>
      <div class="center">
      <a id="delete-meal-btn" href="{{url_for('delete_meal', meal_id=meal._id)}}" class="waves-effect waves-light green lighten-1 btn"><i class="material-icons left">check</i>DELETE</a>
      <a id="cancel-meal-btn" href="{{url_for('get_meals')}}" class="waves-effect waves-light red darken-1 btn"><i class="material-icons left">not_interested</i>CANCEL</a>
      </div>
      </div>
</div>

{% endblock %}