{% extends 'main.html' %}
{% block content %}
<div class="row">
    <div class="col s12 homeheader center">
        HOME HEADER FOR SHORT DESCRIPTION
    </div>
</div>
<div class="row">
        <div class="col s3 center advert">
            <a href="https://www.argos.co.uk/search/spoon/?clickOrigin=searchbar:home:term:spoon" target="_blank"><img src={{url_for('static', filename='images/skyscrape1.png')}}></a>
        </div>
<div class="col s6">
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">stars</i>
      <strong>Are you sure you want to delete {{meal.meal_name}}?</strong><br>
      <a id="delete-meal-btn" href="{{url_for('delete_meal', meal_id=meal._id)}}" class="waves-effect waves-light green lighten-1 btn"><i class="material-icons left">check</i>DELETE</a>
      <a id="cancel-meal-btn" href="{{url_for('get_meals')}}" class="waves-effect waves-light red darken-1 btn"><i class="material-icons left">not_interested</i>CANCEL</a>
      </div>
    </li>
</ul>


{% endblock %}