{% extends 'main.html' %} {% block content %}


<h3>Edit your yummy meal!</h3>

<div class="row">
    <form action="{{ url_for('insert_meal') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">menu_book</i>
          <input id="meal_name" name="meal_name" type="text" class="validate" value="{{meal.meal_name}}">
          <label for="meal_name">Meal Name</label>
        </div>
        <div class="col s3">
            <select id="b-d" style="margin-top: 16px; background-color: transparent; border-bottom: 1px solid #9e9e9e;" class="browser-default browser-default-fix" name="category_name" id="category_name">
            <option value=" " disabled selected>Choose Category</option>
            {% for cat in categories %}
                {% if cat.category_name == meal.category_name %}
                <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                {% else %}
                <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">fireplace</i>
          <input id="meal_temp" name="meal_temp" type="text" class="validate" value="{{meal.meal_temp}}">
          <label for="meal_temp">Temperature</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">watch_later</i>
          <input id="meal_time" name="meal_time" type="text" class="validate" value="{{meal.meal_time}}">
          <label for="meal_time">Time Needed</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">rate_review</i>
          <textarea id="meal_description" name="meal_description" type="text" class="validate materialize-textarea"\>{{meal.meal_description}}</textarea>
          <label for="meal_description">Meal Description</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">local_pizza</i>
          <textarea id="meal_ingredients" name="meal_ingredients" type="text" class="validate materialize-textarea"\>{{meal.meal_ingredients}}</textarea>
          <label for="meal_ingredients">Meal Ingredients</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">info</i>
          <textarea id="meal_instructions" name="meal_instructions" type="text" class="validate materialize-textarea"\>{{meal.meal_instructions}}</textarea>
          <label for="meal_instructions">Meal Instructions</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">contact_support</i>
          <textarea id="meal_tips" name="meal_tips" type="text" class="validate materialize-textarea"\>{{meal.meal_tips}}</textarea>
          <label for="meal_tips">Meal Tips</label>
        </div>
      </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Meal
            <i class="material-icons right">thumb_up</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}