<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/media.css')}}">
    </head>
    <body>
        <header>
            <nav>
            <!--Navigation Bar-->
                <div class="nav-wrapper">
                <a href="{{url_for('get_meals')}}" class="brand-logo" style="margin-left:15px;">Dan's Delicious Dishes</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons menu-burger">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_meals')}}">Home</a></li>
                    <li><a href="{{url_for('add_meals')}}">Add Meal</a></li>
                    <li><a href="{{url_for('contact_page')}}">Contact Us</a></li>
                    <li><a href="{{url_for('about_page')}}">About Us</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="mlist"><a href="{{url_for('get_meals')}}">Home</a></li>
                    <li class="mlist"><a href="{{url_for('add_meals')}}">Add Meal</a></li>
                    <li class="mlist"><a href="{{url_for('contact_page')}}">Contact Us</a></li>
                    <li class="mlist"><a href="{{url_for('about_page')}}">About Us</a></li>
                </ul>
                </div>
            </nav>
        </header>

        <!--Content from other pages-->

        <!--Page Titles-->
        {% block header %}
        {% endblock %}
        <!--Page Contents-->
        {% block content %}
        {% endblock %}

<footer class="page-footer">
        <!--Footer-->
          <div class="container">
            <div class="row">
              <div class="col s12 center">
                    <a href="https://www.argos.co.uk/search/utensil/?clickOrigin=searchbar:home:term:utensil" target="_blank"><img src={{url_for('static', filename='images/leaderboardad.png')}} class="responsive-img"></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <span class="center">© 2020 Dan's Delicious Dishes - Your Online Recipes</span>
            </div>
          </div>
        </footer>


        <script src="{{url_for('static', filename='/js/form.js')}}'"></script>
        <script src="{{url_for('static', filename='/js/script.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
                $('.collapsible').collapsible();
                $('select').material_select();
                $(".button-collapse").sideNav();
                $('.modal').modal();
          });
        </script>
    </body>
</html>