{% extends 'main.html' %}
{% block content %}
<div class="row card-panel hoverable">
    <div class="col s12 homeheader center">
        <strong><h3>Welcome to Dan's Delicious Dishes</h3>
        <h5>The leading cookbook for all your naughty needs and healthy deeds</h5>
        <br>
        <p>We strive to provide you with the 10/10 recipes, not just from the top chefs such as <a class="tdnone" href="{{url_for('about_page')}}#dan">Dan</a> himself.
         <br>But also from the hunger crazed individuals within our community.</p>
         <p>You will find our site useful to find yourself that next scrumptious lunch or the dinner that puts you into hibernation.<br>
         Please have a look at <a class="tdnone" href="#meal_link">our menu</a>, <a class="tdnone" href="{{url_for('add_meals')}}">add a meal</a> yourself and read more <a class="tdnone" href="{{url_for('about_page')}}">about us</a>!</p>
        <p><a class="tdnone" href="{{url_for('contact_page')}}">Have an enquiry?</a></p>
        </strong>
    </div>
</div>
<div class="row">
        <div class="col s3 center advert">
            <a href="https://www.argos.co.uk/search/spoon/?clickOrigin=searchbar:home:term:spoon" target="_blank"><img src={{url_for('static', filename='images/skyscrape1.png')}}></a>
        </div>
<div class="col s6">
<ul class="collapsible">
    <li class="hoverable">
      <div class="collapsible-header"><i class="material-icons">filter_alt</i>
      <strong id="meal_link">Sort By</strong></div>
      <div class="collapsible-body card-panel">
      <span>
      <a href="{{url_for('sort_by_african')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>AFRICAN</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_american')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>AMERICAN</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_asian')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>ASIAN</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_british')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>BRITISH</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_desserts')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>DESSERTS</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_french')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>FRENCH</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_indian')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>INDIAN</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_italian')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>ITALIAN</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_middle_eastern')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>MIDDLE-EASTERN</a>
      </span>
      <span>
      <a href="{{url_for('sort_by_other')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>OTHER</a>
      </span>
      <span>
      <a href="{{url_for('get_meals')}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>All</a>
      </span>
      </div>
    </li>
    {% for meal in meals %}
    <li class="hoverable">
      <div class="collapsible-header"><i class="material-icons">stars</i>
      <strong>{{meal.meal_name}} - {{meal.category_name}}</strong></div>
      <div class="collapsible-body card-panel"><span>
      {{meal.meal_description}} <br><br>
      <a href="{{url_for('view_meal', meal_id=meal._id)}}"class="waves-effect waves-light btn"><i class="material-icons left">restaurant_menu</i>MAKE ME</a>
      <a id="edit-meal-btn" href="{{url_for('edit_meal', meal_id=meal._id)}}" class="waves-effect waves-light yellow darken-3 btn"><i class="material-icons center">create</i></a>
      <a id="delete-meal-btn" href="{{url_for('delete_confirm', meal_id=meal._id)}}" class="waves-effect waves-light red darken-1 btn"><i class="material-icons center">delete</i></a>
      </span></div>
    </li>
 
    {% endfor %}
</ul>
</div>
        <div class="col s3 center advert">
            <a href="https://www.argos.co.uk/search/frying-pan/?clickOrigin=searchbar:search:term:frying+pan" target="_blank"><img src={{url_for('static', filename='images/skyscrape2.png')}}></a>
        </div>
</div>


{% endblock %}